.block-7 {
    margin-top: 30px;
    min-width: 320px;
}

@font-face {
    font-family: TTLakes;
    src: url(../TTLakes-Regular.woff);
}

.swiper-title--from320px {
    display: none;
}

.swiper-title {
    font-size: 16px;
    line-height: 24px;
    font-family: TTLakes;
    letter-spacing: -0.2px;
    color: #7E7E82;
    background: linear-gradient(90deg, #F8F8F8, #FFFFFF);
    padding: 16px;
    text-transform: uppercase;
    border-top: 1px solid #D9FFF5;
}

.swiper-container {
    background: #F8F8F8;
}

.swiper__wrapper {
    /* position: relative; */
}

.swiper-menu__side {
    width: 20px;
    height: 100%;
    margin-top: 80px;
    position: absolute;
    top: 1px;
    z-index: 10;
}

.swiper-menu__side--right {
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 255, 255) 80%);
    right: 0;
}

.swiper-menu__side--left {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(255, 255, 255) 80%);
    left: 0;
}

.swiper-slide {
    margin: 16px;
    margin-right: 0;
    /* height: 154px; */
    text-align: center;
    font-size: 18px;
    width: max-content;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:last-child {
    margin-right: 16px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    font-size: 30px;
    font-family: TTLakes;
    color: rgb(163, 43, 43);
    text-decoration: none;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 0 16px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.btn__ico {
    display: block;
}

.btn__arrow {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background: url(../img/arrow.svg) no-repeat 54%;
}

.swiper-pagination {
    margin-bottom: 20px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background: #B5B6BC;
    margin: 0 6px;
    width: 12px;
    height: 12px;
}

@media (min-width: 320px) {
    .swiper-title--to320px {
        display: none;
    }

    .swiper-title--from320px {
        display: block;
    }
}