.wrapper {
    min-height: 500px;
    border: 1px solid green;
    position: relative;
    display: grid;
    grid-template-columns: 225px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
}
.block {
    background: orange;
    margin: 10px;
    width: 100px;
}
.block:first-of-type {
    width: 300px;
    background: green;
    grid-row-start: 1;
    grid-column-start: 1;
}