.container {
    display: flex;
    background: grey;
    width: 500px;
    height: 200px;
    margin: 20px 0;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: monospace;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 68, 0, 0.726);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
}
.header__button {
    margin-right: 20px;

}
.button__img {
    
}