.wrapper {
    min-height: 500px;
    border: 1px solid green;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.block {
    width: 400px;
    background: orange;
    margin: 10px;
}
.block:first-of-type {
    flex-basis: 20px;
    width: 100px;
    /* flex-shrink: 0; */
    border: 2px solid red;
}